<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!-- Put your challenge-specific CSS in here -->
  <link rel="stylesheet" href="/css/main.css">
  <title></title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Welcome to Craigslist Buatan Malaysia!</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <br clear="all">
    </nav>
    <div class="content">
      <h2><%= @cur_post.title %></h2>
      <section>
        <p><%= @cur_post.description %></p>
        <p><%= @cur_post.location %></p>
        <p><%= @cur_post.phone_number %></p>
        <p><%= "RM #{@cur_post.price}" %></p>
        <p><%= @cur_post.email %></p>
        <p><%= @cur_post.image_url %></p>
        <p><%= @cur_post.created_at %></p>
        <p><%= @cur_post.updated_at %></p>

      </section>
      <section>

      </section>
    </div>
    <div class="footer">
      Copyright &copy; 2015 SuperDuo, Inc.
    </div>
  </div>
</body>